/* CSS declarations go here */
a {
  color: #fff !important;
}

.header {
  background-color: #5f5f5f !important;
}

.header a {
	font-size: 16px;
	margin-left: 10px;
}

.header .webix_view.logo {
  background: transparent;
  margin-top: 4px !important;
}

.header .webix_view.webix_el_label {
	box-sizing: border-box;
	color: #fff;
	font-size: 16px;
	line-height: 2;
	margin-top: 10px !important;
}

.header .connection-status {
	border-width: 0 !important;
	border-radius: 2px !important;
	font-family: Roboto;
	font-size: 14px !important;
	font-weight: 700;
	text-transform: uppercase;
	text-shadow: none;
	padding: 0 12px !important;
	box-shadow: 0 0 5px rgba(0,0,0,.3);
	color: #fff !important;
	width: auto !important;
	height: auto !important;
}

.header .connection-status-disconnected {
	background-color: #ff5252 !important;
}

.header .connection-status-connected {
	  background-color: #388e3c !important;
}

.header .webix_icon_button .webix_icon {
  color: #fff;
}

.menu .webix_tree_branch_1 .webix_tree_item {
  font-size: 15px;
  padding-left: 15px;
  padding-right: 10px;
}

.menu .webix_tree_branch_1 .webix_tree_item .webix_icon {
	font-size: 16px;
}

.menu .webix_tree_item.webix_selected, .menu .webix_tree_item.webix_selected span {
  background-color: #f0f0f0;
}

.menu .webix_tree_item {
  height: 40px;
  line-height: 40px;
  color: #454545;
}

.menu .webix_icon {
  width: 25px;
  padding-left: 12px !important;
  text-align: center;
}

.menu .webix_tree_item.webix_selected span, .menu .webix_tree_item span {
  margin: 0;
  padding: 1px;
}

.content-title {
	padding: 10px 0 0 10px;
	font-size: 18px;
}

.webix_property_label_line {
	background-color: #63b4ea !important;
	text-transform: uppercase;
	font-size: 13.02px;
	font-weight: 700;
	color: #FFF;
}

.webix_layout_material > .webix_view {
	box-shadow: 0 0 8px rgba(0,0,0,.2);
	border-radius: 2px;
	margin-top: 4px !important;
	margin-left: 4px !important;
}

.webix_layout_material > .webix_view:last-of-type:not(:only-of-type) {
	margin-left: 15px !important;
}

.webix_property_label_line {
	padding: 12px 10px 10px 10px !important;
}

.dashboard-header {
	color: white;
	text-transform: uppercase;
	font-size: 13.02px;
	font-weight: 700;
	color: #FFF;
	line-height: 1.9;
}

.header-orange {
	background-color: #f19b60 !important;
}

.header-blue {
	background-color: #63b4ea !important;
}

.header-purple {
	background-color: #a693eb !important;
}

.sensor-properties .webix_property_label {
	text-align: right;
}

.sensor-properties .webix_property_label, .sensor-properties .webix_property_value {
	height: 40px;
	padding: 7px 10px 7px 10px;
}

.throttle-slider {
	margin-top: 15px !important;
}

.webix_el_slider .webix_inp_label {
	line-height: 3 !important;
}

.webix_el_slider .webix_slider_box .webix_slider_left {
	background-color: rgba(63, 63, 63, 0.3) !important;
}

.webix_slider_right {
	background: #E8E8E8 !important;
}

.pid-tuning {
	padding: 10px 20px !important;
}

.pid-tuning .webix_el_slider {
	margin-right: 25px !important;
}